[Desktop Entry]
Version=1.0
Type=Application
Name=Тривога
Comment=Сповіщення про повітряні тривоги для вибраних територій
Exec=/usr/bin/tryvoha
Icon=tryvoha-normal
Terminal=false
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5

