[Desktop Entry]
Version=1.0
Type=Application
Name=Тривога
Comment=Сповіщення про повітряні тривоги для вибраних територій
Exec=/usr/bin/tryvoha
Icon=tryvoha-normal
Terminal=false
Categories=Utility;
StartupNotify=false

